<ion-header>
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="addtaskName" placeholder="Your task name"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label >Priority</ion-label>
      <ion-select [(ngModel)]="addtaskPrio">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="middle">Middle</ion-select-option>
        <ion-select-option value="high" selected>High</ion-select-option>
       </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="addtaskDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Category</ion-label>
      <span >{{addtaskCategory}}</span>
    </ion-item>



    <ion-item>
      <ion-chip *ngFor="let category of categories; let i = index" (click)="selectedCategory(i)">
        <ion-label>{{category}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="addTask()">Add Task</ion-button>

  </ion-card>
</ion-content>
