p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin: 0;
}

.showdate ion-label{
  text-align: center;
}

.showdate ion-button{
  color: var(--ion-color-light-contrast)
}

ion-header ion-title{
  text-align: center;
  z-index: 2;
}

ion-header ion-buttons{
  z-index: 1;
  margin: auto;
}



