<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-card *ngFor="let item of todoList" class="ion-margin">-->

<ion-content [fullscreen]="true">
  <div class="showdate">
    <ion-item lines="none">
      <ion-button fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h1>Today</h1>
        <p>{{today | date:'fullDate'}}</p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ion-card *ngFor="let item of todoList">
      <ion-item>
        <ion-label slot="start">{{item.taskname}}</ion-label>
        <ion-label slot="end">{{item.taskdate | date:'H:mm'}}</ion-label>
      </ion-item>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
